form#ajaxPdsForm
	.input-group
		input#ajaxPdsCode.productcode.form-control(type="number", data-url="/orderAjaxBsProds", placeholder=Lang.holderAjaxCode, autocomplete="off", aria-label="Recipient's username", aria-describedby="basic-addon2")
		//- .input-group-append
		//- 	button#pdcodeAjaxCancel.btn.btn-outline-light(type="button") X