.row
	.col-4
		h3 #{Lang.client}:
	.col-8
		form#formCters
			input#ajaxCters.form-control(type="text", autocomplete="off")
.clientSel
	.row
		.col-12
			div(class="card clientCard m-2 bg-warning" id="client")
				.card-body
					h5.card-title.text-center #{Lang.cancelCl}
	.row.catersAjax
	hr
	.row.allCtersAjax