.noprint
	.row.my-5
	.row.text-center
		.col-sm-4
			a.btn.btn-default.btn-block(href="#") <span class="oi oi-arrow-thick-bottom"></span>
	div(style="height:350px")
	.row
		.col-sm-4
			a.btn.btn-danger.btn-block.del(href=thisAct+"Del/"+object._id) <span class="oi oi-trash"></span>