.noprint
	.row.border-top.my-5
	.row.text-center
		.col-sm-4
			a(href="#") <span class="oi oi-arrow-thick-bottom"></span>
	//- .row
	//- 	.col-sm-4
	//- 		span 操作者: #{order.operater}
	div(style="height:350px")
	.row
		.col-sm-4
			a.btn.btn-danger.btn-block.del(href=thisAct+"Del/"+object._id) <span class="oi oi-trash"></span>