.row.text-center
	.col-12: h3 D.D.T.
	.col-12: h5 DOCUMENTO DI TRASPORTO
.row.mt-2
	.col-6: h5 <strong>Nr.</strong> <U>#{object.code}</U> 
	.col-6.text-right
		h5 <strong>del</strong> <U>#{moment(object.ctAt).format('DD/MM/YYYY')}</U>