input#ajaxCters.form-control(type="text", autocomplete="off")
.clientSel
	.row
		.col-12.text-center
			div(class="card clientCard m-2 bg-warning" id="client")
				.card-body
					h5.card-title #{Lang.cancelCl}
	.row.catersAjax
	hr
	.row.allCtersAjax